body {
}

.container {
  display: block;
  text-align: center;
  margin: 80px auto;
  width: 60vw;
  background-color: aquamarine;
}

button {
  padding: 10px;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
}

.statClock {
  padding: 10px;
  top: 0px;
  right: 0px;
  position: absolute;
}
